<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
</head>
<body>
<div id="wrapper">
    <div id="header">
        <h2>Admin</h2>
    </div>
</div>
<div id="container">
    <div id="content">
        <table border="1">
            <tr>
                <th>Id</th>
                <th>User information</th>
                <th>Date of ordering</th>
                <th>Items</th>
                <th>Order price</th>
                <th>Status</th>
            </tr>
            <tr th:each="order: ${NOT_DONE_ORDERS_LIST}">
                <td th:text="${order.id}"/>
                <td>
                    <table>
                        <tr>
                            <td>Id
                            </th>
                            <td th:text="${order.user.id}"/>
                        </tr>
                        <tr>
                            <td>First Name</td>
                            <td th:text="${order.user.firstName}"/>
                        </tr>
                        <tr>
                            <td>Last Name</td>
                            <td th:text="${order.user.lastName}"/>
                        </tr>
                        <tr>
                            <td>Username</td>
                            <td th:text="${order.user.userName}"/>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td th:text="${order.user.email}"/>
                        </tr>
                        <tr>
                            <td>Address</td>
                            <td th:text="${order.user.address}"/>
                        </tr>
                        <tr>
                            <td>Phone Number</td>
                            <td th:text="${order.user.phoneNumber}"/>
                        </tr>
                    </table>
                </td>
                <td th:text="${order.orderDate}"/>
                <td>
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Price</th>
                            <th>Quantity</th>
                            <th>Sub Total</th>
                        </tr>
                        <th:forEach th:each="item: ${order.items}">
                            <tr>
                                <td th:text="${item.foodItem.name}"/>
                                <td th:text="${item.foodItem.price}"/>
                                <td th:text="${item.quantity}"/>
                                <td th:text="${item.foodItem.price*item.quantity}"/>
                            </tr>
                        </th:forEach>
                    </table>
                </td>
                <td th:text="${order.orderPrice}"></td>
                <td th:text="${order.orderStatus.statusName}">
                    <br/><br/>
                    <form th:action="@{/admin/change-status-order(orderId=${order.id})}" th:method="post">
                        <select name="status">
                            <th:forEach th:each="statusTemp: ${statusList}">
                                <option th:value="${statusTemp}">${statusTemp}</option>
                            </th:forEach>
                        </select>
                        <br/>
                        <input type="submit" value="Change"/>
                    </form>
                </td>
            </tr>
        </table>


        <h1>Done tasks:</h1>
        <table border="1">
            <tr>
                <th>Id</th>
                <th>User information</th>
                <th>Date of ordering</th>
                <th>Items</th>
                <th>Order price</th>
                <th>Status</th>
            </tr>
            <th:forEach th:each="order: ${DONE_ORDERS_LIST}">
                <tr>
                    <td th:text="${order.id}"/>
                    <td>
                        <table>
                            <tr>
                                <td>Id
                                </th>
                                <td th:text="${order.user.id}"/>
                            </tr>
                            <tr>
                                <td>First Name</td>
                                <td th:text="${order.user.firstName}"/>
                            </tr>
                            <tr>
                                <td>Last Name</td>
                                <td th:text="${order.user.lastName}"/>
                            </tr>
                            <tr>
                                <td>Username</td>
                                <td th:text="${order.user.userName}"/>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td th:text="${order.user.email}"/>
                            </tr>
                            <tr>
                                <td>Address</td>
                                <td th:text="${order.user.address}"/>
                            </tr>
                            <tr>
                                <td>Phone Number</td>
                                <td th:text="${order.user.phoneNumber}"/>
                            </tr>
                        </table>
                    </td>
                    <td th:text="${order.orderDate}"/>
                    <td>
                        <table>
                            <tr>
                                <th>Name</th>
                                <th>Price</th>
                                <th>Quantity</th>
                                <th>Sub Total</th>
                            </tr>
                            <th:forEach th:each="item: ${order.items}">
                                <tr>
                                    <td th:text="${item.foodItem.name}"/>
                                    <td th:text="${item.foodItem.price}"/>
                                    <td th:text="${item.quantity}"/>
                                    <td th:text="${item.foodItem.price*item.quantity}"/>
                                </tr>
                            </th:forEach>
                        </table>
                    </td>
                    <td th:text="${order.orderPrice}"/>
                    <td th:text="${order.orderStatus.statusName}">
                        <br/><br/>
                        <form th:action="@{/admin/change-status-order(orderId=${order.id})}" th:method="post">
                            <select name="status">
                                <th:forEach th:each="statusTemp: ${statusList}">
                                    <option th:value="${statusTemp}" th:text="${statusTemp}"/>
                                </th:forEach>
                            </select>
                            <br/>
                            <input type="submit" value="Change"/>
                        </form>
                    </td>
                </tr>
            </th:forEach>
        </table>
    </div>
</div>
</body>
</html>
