<html lang="${sessionScope.lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="styles.css">
    <title>Cart</title>
</head>
<body th:with="sum=0">
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">
            <img width="70" height="70"
                 src="https://image.similarpng.com/thumbnail/2020/06/Restaurant-logo-with-chef-drawing-template-on-transparent-background-PNG.png"
                 alt="5 Min Cafe">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/menu" class="nav-item nav-link" th:text="#{header.menu}"/>
                <a href="/cart" th:text="#{header.cart}" class="nav-item nav-link active"/>
                <a href="/myorders" th:text="#{header.my_orders}" class="nav-item nav-link"/>
            </div>
            <div class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="" id="dropdown09" style="color:black;" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="flag-icon flag-icon-us" th:if="${session.lang!='ua'}"/>
                    <span class="flag-icon flag-icon-${sessionScope.lang}" th:if="${session.lang=='ua'}"/>
                    <!-- <a href="#" th:text="#{header.language}"></a>-->
                </a>
                <div class="dropdown-menu" style="width: 20px">
                    <a class="dropdown-item" th:href="@{/menu(lang='ua')}">
                        <span class="flag-icon flag-icon-ua"/>
                    </a>
                    <a class="dropdown-item" th:href="@{/menu(lang='en')}">
                        <span class="flag-icon flag-icon-us"/>
                    </a>
                </div>
            </div>
            <div class="navbar-nav">
                <a href="/registration" th:if="${session.username==null}" class="nav-item nav-link"
                   th:text="#{header.registration}"/>
                <a href="/login-main" th:if="${session.username==null}" class="nav-item nav-link" th:text="#{header.login}"/>
                <a href="/logout" th:if="${session.username!=null}" class="nav-item nav-link"
                   th:text="#{header.logout}"/>
            </div>

            <a th:href="@{/cart}">
            <span class="fa-stack fa-2x has-badge">
                    <i style="" class="fa fa-shopping-cart fa-stack-2x red-cart"></i>
                </span>
                <span class="fa-stack fa-2x has-badge" th:text="${cart_size}">
                    <i style="" class="fa fa-shopping-cart fa-stack-2x red-cart"></i>
                </span>
            </a>
        </div>
    </nav>
</div>
<div id="header">
    <h2 th:text="#{cart.cart}"> </h2>
</div>
<div id="container">
    <div id="content">
        <table class="table">
            <thead></thead>
            <tr>
                <th scope="col" th:text="#{cart.image}"></th>
                <th scope="col" th:text="#{cart.name}"></th>
                <th scope="col" th:text="#{cart.price}"></th>
                <th scope="col" th:text="#{cart.quantity}"></th>
                <th scope="col" th:text="#{cart.option}"></th>
                <th scope="col" th:text="#{cart.sub_total}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="item: ${session.cart}" >
                <td><img th:src="${item.foodItem.image}" width="80" height="80"/></td>
                <td th:text="${item.foodItem.name}" th:if="${session.lang!='ua'}"></td>
                <td th:text="${item.foodItem.price}"></td>
                <td th:text="${item.quantity}"></td>
                <td align="left">
                    <a th:href="@{/cart/delete(itemId=${item.foodItem.id})}"
                       onclick="return confirm('Are you sure?')">
                        <button type="button" class="btn btn-dark">
                            Delete
                        </button>
                    </a>
                </td>
                <td th:text="${item.foodItem.price*item.quantity}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="order" style="position: relative;">

   Sum: <h2 th:text="${session.sum}"></h2>
    <a th:href="@{/cart/order}">
        <button type="button" class="btn btn-danger order-button" style="position: absolute; right: 10%" th:text="#{cart.order}"></button>
    </a>
</div>
<br/><br/>
</body>
</html>
