<%@ taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>

<html lang="${sessionScope.lang}">
<head>
    <link rel="stylesheet" href="footer.css">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="footer.css">
</head>
<style>

</style>
<body>


<footer class="site-footer">
    <div class="widget-holder">
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div id="tokoo-our-location-1" class="widget widget-office-address"><h3 class="widget-title"><span>Contacts</span>
                    </h3>
                        <div class="contact-info" data-squery="max-width:500px=small">
                            <div class="tokoo-dynamic-maps-no-marker" style="overflow: hidden;">
                                <iframe width="150" height="150" frameborder="0" scrolling="no" marginheight="0"
                                        marginwidth="0"
                                        src="https://maps.google.com/maps?q=49.239845,28.492457&amp;hl=es&amp;zoom=11;z=11&amp;output=embed"></iframe>
                            </div>
                            <address>
                                <div class="address contact-item">
                                    <strong>Restaurant Name</strong>
                                    <br/><br/>
                                </div>
                                <div class="contact-item">
                                    <a href="#">Address</a></div>
                                <div class="contact-item">
                                    <a href="#">contact@dessertcafe.com.ua</a></div>
                                <div class="contact-item">
                                    <a href="#"> +380 (93) 947-49-14</a></div>
                            </address>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div id="hours" class="widget widget-office">
                        <h3 class="widget-title">
                            <span style="padding-left: 20px">Hours of working</span>
                        </h3>
                        <ul class="open-hour">
                            <li>
                                <span class="left">Lounge Bar</span>
                                <span class="right">14:00-00:00</span>
                            </li>
                            <li>
                                <span class="left">Mon-Fri</span>
                                <span class="right">10:00-23:00</span>
                            </li>
                            <li>
                                <span class="left">Sat-Sun</span>
                                <span class="right">10:00-23:00</span>
                            </li>
                            <li>
                                <span class="left">Delivery</span>
                                <span class="right special">11:00-21:30</span>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </div>
</footer>
</body>
</html>