<html lang="${sessionScope.lang}" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.1.0/css/flag-icon.min.css" rel="stylesheet">
    <link rel="stylesheet" href="styles.css">
    <title>My Orders</title>
</head>
<body>
<div class="bs-example">
    <nav class="navbar navbar-expand-md navbar-light bg-light">
        <a href="#" class="navbar-brand">
            <img width="70" height="70"
                 src="https://image.similarpng.com/thumbnail/2020/06/Restaurant-logo-with-chef-drawing-template-on-transparent-background-PNG.png"
                 alt="5 Min Cafe">
        </a>
        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarCollapse">
            <div class="navbar-nav">
                <a href="/menu" class="nav-item nav-link" th:text="#{header.menu}"/>
                <a href="/cart" th:text="#{header.cart}" class="nav-item nav-link active"
                   th:if="${session.username!=null}"/>
                <a href="/myorders" th:text="#{header.my_orders}" class="nav-item nav-link"
                   th:if="${session.username!=null}"/>
            </div>
            <div class="nav-item dropdown ml-auto">
                <a class="nav-link dropdown-toggle" href="" id="dropdown09" style="color:black;" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <span class="flag-icon flag-icon-us" th:if="${session.lang!='ua'}"/>
                    <span class="flag-icon flag-icon-${sessionScope.lang}" th:if="${session.lang=='ua'}"/>
                </a>
                <div class="dropdown-menu" style="width: 20px">
                    <a class="dropdown-item" th:href="@{/menu/list(sessionLocale='ua')}">
                        <span class="flag-icon flag-icon-ua"/>
                    </a>
                    <a class="dropdown-item" th:href="@{/menu/list(sessionLocale='en')}">
                        <span class="flag-icon flag-icon-us"/>
                    </a>
                </div>
            </div>
            <div class="navbar-nav">
                <a href="/registration" th:if="${session.username==null}" class="nav-item nav-link"
                   th:text="#{header.registration}"/>
                <a href="/login" th:if="${session.username==null}" class="nav-item nav-link" th:text="#{header.login}"/>
                <a href="/logout" th:if="${session.username!=null}" class="nav-item nav-link"
                   th:text="#{header.logout}"/>
            </div>

            <div th:if="${session.username!=null}">
                <a th:href="@{/cart}">
            <span class="fa-stack fa-2x has-badge">
                    <i style="" class="fa fa-shopping-cart fa-stack-2x red-cart"></i>
                </span>
                    <span class="fa-stack fa-2x has-badge" th:text="${cart_size}">
                    <i style="" class="fa fa-shopping-cart fa-stack-2x red-cart"></i>
                </span>
                </a>
            </div>
        </div>
    </nav>
</div>
<div id="wrapper">
    <div id="header">
        <h2 th:text="#{my_orders.my_orders}"></h2>
    </div>
</div>
<div id="container">
    <div id="content">
        <table border="1" class="table">
            <thead class="thead-light">
            <tr>
                <th scope="col" th:text="#{my_orders.date_of_ordering}"></th>
                <th scope="col" th:text="#{my_orders.items}"></th>
                <th scope="col" th:text="#{my_orders.price}"></th>
                <th scope="col" th:text="#{my_orders.status}"></th>
            </tr>
            </thead>
            <tbody>
            <th:forEach var="order" items="${ORDERS_LIST}" th:each="order: ${ORDERS_LIST}">
                <th:set var="orderPrice" value="${0}"/>
                <tr>
                    <td th:text="${order.orderDate}" />
                    <td>
                        <table>
                            <tr>
                                <th th:text="#{my_orders.name}"/>
                                <th th:text="#{my_orders.price}"/>
                                <th th:text="#{my_orders.quantity}"/>
                            </tr>
                            <th:forEach th:each="item: ${order.items}">
                                <tr>
                                    <td th:text="${item.foodItem.name}" th:if="${session.lang!='ua'}"/>
                                    <td th:text="${item.foodItem.nameUa}" th:if="${session.lang=='ua'}"/>
                                    <td th:text="${item.foodItem.price}"/>
                                    <td th:text="${item.quantity}"/>
                                </tr>
                            </th:forEach>
                        </table>
                    </td>
                    <td th:text="${order.orderPrice}">$
                    <td th:text="${order.orderStatus.statusName}" th:if="${session.lang!='ua'}"/>
                    <td th:text="${order.orderStatus.statusNameUa}" th:if="${session.lang=='ua'}"></td>
                </tr>
            </th:forEach>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>








